<%
Rails.logger.info("Aeon Fulfillment Plugin") { "Initializing Plugin..." }

mapper = AeonRecordMapper.mapper_for(record)
%>

<% if mapper.configured? %>

  <%= javascript_include_tag "#{@base_url}/assets/js/aeon_request_action.js" %>

  <% if mapper.hide_button? %>
    <div id="unrequestable-message-wrapper" class="alert alert-warning text-wrap" style="width: 245px; margin-bottom: 0; text-align: center;">
      <%= mapper.unrequestable_display_message %>
    </div>
  <% else %>

    <%= form_tag "#{mapper.repo_settings[:aeon_web_url]}?#{mapper.repo_settings.fetch(:top_container_mode, false) ? "action=10&form=35" : "action=11&type=200"}", :id => 'aeon_request_sub', :target => (mapper.repo_settings.fetch(:request_in_new_tab, false) ? 'aeon_request' : '_self') do |f| %>
      <% mapper.map.each do |name, value| %>
        <% if name.casecmp('requests').zero? %>
          <% value.each do |request| %>
            <% request.each do |request_param, request_value| %>
              <input type='hidden' name='<%= request_param %>' value='<%= strip_tags(request_value.to_s) %>' />
            <% end %>
          <% end %>
        <% else %>
          <input type='hidden' name='<%= name %>' value='<%= strip_tags(value.to_s) %>' />
        <% end %>
      <% end %>

      <button type="submit" class="btn page_action request btn-default" title="<%= t('plugins.aeon_fulfillment.request_button_label') %>">
        <i class="<%= t('plugins.aeon_fulfillment.request_button_icon') %>" aria-hidden="true"></i><br/><%= t('plugins.aeon_fulfillment.request_button_label') %>
        <% unless mapper.repo_settings.fetch(:request_in_new_tab, false) %><span class="visually-hidden">opens in new window</span><% end %>
      </button>
    <% end %>

  <% end %>
<% else %>
<%
  Rails.logger.info("Aeon Fulfillment Plugin") { "Plugin not configured." }
%>
<% end %>

<%
  Rails.logger.info("Aeon Fulfillment Plugin") { "Finished initializing plugin." }
%>
