<%
logger = Rails.logger

logger.debug "Initializing Aeon Plugin..."

mapper = case record
  when ArchivalObject
    ArchivalObjectMapper.new(record)
  when Accession
    AccessionMapper.new(record)
  else
    message = "This ArchivesSpace object type is not supported by this plugin."
    logger.error record.inspect
    logger.error message
    raise message
  end
%>

<% if mapper.show_action? %>
  <%= form_tag "#{mapper.repo_settings[:aeon_web_url]}aeon.dll?action=11&type=200", :id => 'aeon_request_sub' do |f| %>

    <% mapper.map.each do |name, value| %>
      <% if name.casecmp('requests').zero? %>
        <% value.each do |request| %>
          <% request.each do |request_param, request_value| %>
            <input type='hidden' name='<%= request_param %>' value='<%= request_value %>' />
          <% end %>
        <% end %>
      <% else %>
        <input type='hidden' name='<%= name %>' value='<%= value %>' />
      <% end %>
    <% end %>

    <button type="submit" class="btn page_action request btn-default" title="<%= t('plugins.aeon_fulfillment.request_button_label') %>">
      <i class="fa fa-external-link fa-3x"></i><br/><%= t('plugins.aeon_fulfillment.request_button_label') %>
    </button>
  <% end %>

<% else %>

  <button class="btn btn-default page_action request" disabled="true">
    <i class="fa fa-external-link fa-3x"></i><br/><%= t('plugins.aeon_fulfillment.request_button_label') %>
  </button>

<% end %>

<% 
  logger.debug "Finished initializing Aeon plugin." 
%>

<!-- TODO: DEBUGGING FEATURE PLEASE REMOVE AFTER DEVELOPMENT -->

<button class="btn btn-default page_action request" title="record.inspect" data-toggle="collapse" data-target="#record-inspect" aria-expanded="false" aria-controls="record-inspect">
    <i class="fa fa-compress fa-3x"></i><br/>Inspect
</button>

<div id="record-inspect" class="collapse">
  <div class="card card-block card_block">
    <%= @result.inspect %>
  </div>
    <div class="card card-block card_block">
    <%= record.inspect %>
  </div>
</div>
