<% 
    showAction = false
    begin
      repo_code = record.resolved_repository.dig('repo_code').downcase

      repo_settings = nil

      if (AppConfig[:aeon_fulfillment].include?(repo_code))        
        repo_settings = AppConfig[:aeon_fulfillment][repo_code]
      end

      if (repo_settings)
        puts "-- Aeon Plugin checking for top containers."
        has_top_container = false
        container_info = record.build_request_item_container_info
        container_info.each {|key, value|
          if key == :top_container_url
            if ASUtils.wrap(value).any?{|v| !v.blank?}
              has_top_container = true
              break
            end
          end
        }

        only_top_containers = (repo_settings.include?(:requests_permitted_for_containers_only) ? repo_settings[:requests_permitted_for_containers_only] : false)

        puts "-- Aeon Plugin Containers found? #{has_top_container}"
        puts "-- Aeon Plugin only_top_containers? #{only_top_containers}"

        showAction = (has_top_container || !only_top_containers)        
      end
    rescue Exception => e  
        puts "Failed to create Aeon Request action!!"
        puts e.message  
        puts e.backtrace.inspect  
    end 
 %>
<% if showAction %>
  <%= form_tag "#{repo_settings[:aeon_web_url]}aeon.dll?action=11&type=200", :id => 'aeon_request_sub' do |f| %>
    <% if repo_settings[:aeon_external_system_id].blank? %>
      <input type="hidden" name="SystemID" value="ArchivesSpace" />
    <% else -%>
      <input type='hidden' name='SystemID' value='<%= repo_settings[:aeon_external_system_id] %>' />
    <% end -%>

    <% if !AppConfig[:public_proxy_url].blank? %>
      <input type='hidden' name='ReturnLinkURL' value='<%= "#{AppConfig[:public_proxy_url]}#{record['uri']}" %>' />
      <input type='hidden' name='ReturnLinkSystemName' value='<%= repo_settings.has_key?(:aeon_return_link_label) ? repo_settings[:aeon_return_link_label] : 'ArchivesSpace' %>' />
    <% elsif !AppConfig[:public_url].blank? %>
      <input type='hidden' name='ReturnLinkURL' value='<%= "#{AppConfig[:public_url]}#{record['uri']}" %>' />
      <input type='hidden' name='ReturnLinkSystemName' value='<%= repo_settings.has_key?(:aeon_return_link_label) ? repo_settings[:aeon_return_link_label] : 'ArchivesSpace' %>' />
    <% end %>

    <% %i(uri identifier component_id title restrictions_apply level publish).each do |member_name| %>
      <input type='hidden' name='<%= member_name.to_s %>' value='<%= record[member_name.to_s] %>' />
    <% end %>

    <% creators = record['agents'] %>
    <% if creators %>
      <input type='hidden' name='creators' value='<%= creators.map { |k| "#{k}" }.join("; ") %>' />
    <% end %>

    <% resolved_resource = record['_resolved_resource'] %>
    <% if resolved_resource %>
      <% resource_obj = resolved_resource[record['resource']] %>
      <% if resource_obj %>
        <input type='hidden' name='collection_title' value='<%= resource_obj[0]['title'] %>' />
        <input type='hidden' name='collection_id' value='<%= "#{resource_obj[0]['id_0']} #{resource_obj[0]['id_1']} #{resource_obj[0]['id_2']} #{resource_obj[0]['id_3']}".rstrip  %>' />
      <% end %>
    <% end %>

    <% json = record['json'] %>
    <% if json %>
      <% %i(display_string language repository_processing_note).each do |member_name| %>
        <input type='hidden' name='<%= member_name.to_s %>' value='<%= json[member_name.to_s] %>' />
      <% end %>

      <% if json['dates'] %>
        <% json['dates'].each do |date| %>
          <input type='hidden' name='<%= "#{date['label']}_date" %>' value='<%= date['expression'] %>' />
        <% end %>
      <% end %>

      <% notes = json['notes'] %>
      <% if notes %>
        <% notes.each do |note| %>
          <% if note['type'] == 'physloc' and note['content'].length > 0 %>
            <input type='hidden' name='physical_location_note' value='<%= note['content'].map { |cont| "#{cont}" }.join("; ") %>' />
          <% end %>
        <% end %>
      <% end %>

      <% instances = json.fetch('instances')  %>
      <% if instances %>
        <% instanceCount = 0 %>
        <% instances.each do |instance| %>
          <%= debug instance %>
          <% if !instance['digital_object'] %>
            <% instanceCount += 1 %>
            <input type='hidden' name='Request' value='<%= instanceCount %>' />
            <% %i(instance_type created_by last_modified_by is_representative).each do |member_name| %>
              <input type='hidden' name='<%= "instance_#{member_name.to_s}_#{instanceCount}" %>' value='<%= instance[member_name.to_s] %>' />
            <% end %>

            <input type='hidden' name='instance_container_child_type' value='<%= instance['type_2'] %>' />
            <input type='hidden' name='instance_container_child_indicator' value='<%= instance['indicator_2'] %>' />
            <input type='hidden' name='instance_container_grandchild_type' value='<%= instance['type_3'] %>' />
            <input type='hidden' name='instance_container_grandchild_indicator' value='<%= instance['indicator_3'] %>' />

            <% container = instance['sub_container'] %>
            <% if container %>
              <% %i(created_by last_modified_by).each do |member_name| %>
                <input type='hidden' name='<%= "instance_container_#{member_name.to_s}_#{instanceCount}" %>' value='<%= container[member_name.to_s] %>' />
              <% end %>

              <% topContainer = container['top_container'] %>
              <% if topContainer %>
                <input type='hidden' name='<%= "instance_top_container_uri_#{topContainer['uri']}" %>' 
                <% topContainer = topContainer['_resolved'] %>
                <% if topContainer %>
                  <% %i(created_by last_modified_by type indicator restricted display_string long_display_string).each do |member_name| %>
                    <input type='hidden' name='<%= "instance_top_container_#{member_name.to_s}_#{instanceCount}" %>' value='<%= topContainer[member_name.to_s] %>' />
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <button type="submit" class="btn page_action request  btn-default" title="<%= t('actions.request') %>">
      <i class="fa fa-bullhorn fa-3x"></i><br/><%= t('actions.request') %></button>
  <% end %>
<% else %>
  <button class="btn btn-default page_action request" disabled="true">
    <i class="fa fa-bullhorn fa-3x"></i><br/><%= t('actions.request') %>
  </button>
<% end %>